@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: #202020;
}
body {
    width: 100%;
    display: flex;
    align-items: flex-start;
	background-color: #E9E9E9;
}
.navbar {
    position: fixed;
    width: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    background-color: white;
}
main {
    width: 100%;
    max-width: 1840px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px 0;
    gap: 100px;
    transform: translateX(70px);
}
main > h1 {
    font-size: 48px;
    align-self: flex-start;
}
.logo_cont {
	display: flex;
	flex-direction: column;
	justify-content: left;
    align-self: flex-start;
    transform: translateX(100px);
}
.logo_cont h1 {
	font-size: 64px;
	cursor: default;
}
.logo_cont > .breadcrumb {
	list-style: none;
    margin-left: 4px;
}
.logo_cont > .breadcrumb li, a {
    display: inline;
    text-decoration: none;
    font-size: 20px;
    color: gray;
}
.logo_cont > .breadcrumb li+li:before {
    content: "/\00a0";
}
.logo_cont > .breadcrumb > .active_breadcrumb a {
    text-decoration: underline;
}
.container {
    width: 100%;
    max-width: 1850px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 100px;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}
.projects > h2 {
    font-size: 38px;
}
.create_project {
    border: 3px solid black;
    font-weight: 600;
    transition: all 500ms ease-in-out;
}
.create_project:hover {
    background-color: black;
    color: white;
    transition: all 500ms ease-in-out;
}
.project {
    cursor: pointer;
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    padding: 0 10px;
    font-size: 22px;
}
.active_project {
    width: 100%;
    max-width: 1000px;
    height: 650px;
    background-color: white;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.selected_project {
    width: 1000px;
    height: 650px;
    background-color: white;
    border-radius: 3rem;
    padding: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.selected_project > .name {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.selected_project > .name > h3 {
    font-size: 36px;
}
.selected_project > .name > h4 {
    font-size: 24px;
}
.selected_project > .info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.selected_project > .info > p {
    font-size: 28px;
}
.selected_project > a {
    width: 300px;
    height: 60px;
    align-self: center;
}
.selected_project > a > button {
    width: inherit;
    height: inherit;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    font-size: 28px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out;
}
.selected_project > a > button:hover {
    background-color: rgb(240, 240, 240);
    transition: all 200ms ease-in-out;
}
